[2021-03-14 14:45] ivanhofer opened #11 "support for deno"
[deno](https://deno.land/) is an alternative to Node.js. It has TypeScript support out-of-the-box. It would be nice to be able to use `typesafe-i18n` with deno.
 - [x] investigate what is needed to add support for deno
    - all imports need to include the file-ending `*.ts`:
      - [ ] update file generation to include file endings when outputting for deno (`adapter: 'deno'`)
    - how can we im

[2021-03-14 14:48] ivanhofer opened #12 "show how to use `typesafe-i18n` inside react applications"
Since react is the most used frontend-framework, there should be a small example project to show the usage of `typesafe-i18n` inside a react application.

[2021-03-14 14:54] ivanhofer opened #13 "remove argument-types inside translations for production bundle"
If you use types inside your base-translations, the type-information is also part of the generated output. Since this information is only needed for the watcher to output better types, it can be omitted in production builds to save a few bytes from the bundle.

**We could automatically remove all argument types for production**

if you have a translation like this:
[code]
it could be optimize to t

[2021-03-14 15:12] ivanhofer opened #14 "generate optimized output for single locale exports"
`typesafe-i18n` supports generating types only for a single locale by passing only the desired locale inside the `locales` watcher-option. This can be useful, if you want to create an own bundle per locale. Since these bundles don't have to include the switching of locales, the output size could be reduced.

[2021-03-14 15:24] ivanhofer opened #15 "optimize output for production bundles"
If you use keyed arguments inside your translations e.g. `HI: Hello {name}!`, the function to translate that message will also need to pass an object with the property `name` in it. It sure is more readable than passing index-based arguments, but it needs more characters. Depending of the amount and the length of the argument-property it will have a negative inpact on the generated bundle-size.

*

[2021-03-14 15:47] ivanhofer opened #16 "warn if some translations-keys are not used anymore"
Over time your application will  grow. So do your translations. It can happen that you change a feature and add new translations, but forget to remove the old ones.

**We could automatically look for unused translations**

What needs to be done:
 - [ ] write a rollup-plugin
    - [ ] parse all files for used translation-keys
    - [ ] output warning, if a key is present in your translations, but n

[2021-03-23 06:46] #12 closed

[2021-03-26 15:41] ivanhofer opened #18 "Support for sveltekit"
Because of https://github.com/vitejs/vite/issues/2579 it is currently not possible to use `typesafe-i18n` inside `sveltekit` applications.

A workaround is:
 - disabling `ssr` inside `svelte.config.cjs`
 - manually change `export{u as getI18nSvelteStore};` to `export const getI18nSvelteStore = u;` inside `node_modules\typesafe-i18n\adapters\adapter-svelte.js`

[2021-04-02 13:11] #14 closed

[2021-04-13 07:05] jakubwolny opened #23 "watcher script is not compatible with yarn workspaces"
After installing typesafe-i18n within one workspace, when you try to run the watcher:
`node ./node_modules/typesafe-i18n/node/watcher.js`
it does not work, since the files within node_modules are not physically located there (yarn does linking).

[code]
then of course I tried to run it in the directory above (project root), but when it watches entire project, not just single workspace, and paths a

[2021-04-13 10:36] jakubwolny commented on #23
starting the watcher with:
`node ../node_modules/typesafe-i18n/node/watcher.js`
solved the issue - sometimes the simplest solutions are the best!
still, a webpack plugin could maybe make the adoption a bit easier

[2021-04-13 10:36] #23 closed

[2021-04-13 13:40] ivanhofer commented on #23
Hi @jakubwolny,
thanks for your feedback :)

You can use the `outputPath` [option](https://github.com/ivanhofer/typesafe-i18n/#options) inside the `.typesafe-i18n.json`-file to set the output path for the files being generated.

The reason why no webpack plugin exists yet is because I personally use rollup and haven't had the time yet to create one. The node process is currently the fallback for u

[2021-04-13 13:43] ivanhofer opened #24 "add webpack plugin"
webpack users currently have to run the watcher via the [node-process](https://github.com/ivanhofer/typesafe-i18n/#node-process).

It would be useful if there existed a webpack plugin to improve the developer experience and let webpack users benefit from the bundling optimizations.

[2021-04-17 08:11] #24 closed

[2021-04-17 08:16] ivanhofer commented on #23
@jakubwolny as of `typesafe-i18n` version 2.16.0 you can also start the `watcher` via a [webpack-plugin](https://github.com/ivanhofer/typesafe-i18n#webpack-plugin)

[2021-04-17 08:22] jakubwolny commented on #23
oh wow! thank you for the update, I'll definitely try it

[2021-04-23 05:01] ivanhofer opened #27 "Breaking: remove .toString() functionality"
As described [here](https://github.com/ivanhofer/typesafe-i18n#text-only), some frameworks allow you to only pass `LL.KEY` instead of `LL.KEY()`, when you don't have to pass arguments to your translation.
Its a small useful feature, that makes the syntax more appealing to read.
But it also causes a problem, when you later decide to update the translation to contain arguments. Typescript will no lo

[2021-04-23 05:23] ivanhofer opened #28 "add support for plural rule `{{zero|one|other}}`"
Currently there exist two short forms for plural rules:
- `{0} apple{{s}}` => plural only form
- `{0} {{apple|apples}}` => singular/plural form

It would be useful, if there would also exist a third option:
- `{{no apples | 1 apple | {x} apples}}`

What needs to be done:
- [x] implement parsing function for `zero|one|other`
- [ ] add support for injecting passed parameter into plural part
[code]

[2021-04-26 11:10] bartenra opened #29 "Watcher doesn't work on Linux"
`fs.watch` does not support the `recursive` option on Linux. In fact, it raises an exception when set to `true` since Node.js 14.

See https://nodejs.org/docs/latest/api/fs.html#fs_caveats

Maybe you can use https://github.com/paulmillr/chokidar which works cross-platform.

[2021-04-26 11:27] bartenra opened #30 "Define scripts with bin in package.json"
IMO it's an anti-pattern to ask users to run something directly from `node_modules`.

Instead you should define a `bin` section in package.json.

https://docs.npmjs.com/cli/v7/configuring-npm/package-json#bin

[2021-04-26 12:39] ivanhofer commented on #30
Thanks @bartenra,
you're right, I also don't really like the `node_modules` solution, but haven't yet looked for a better solution.
I definitely need fix this!

[2021-04-26 12:42] ivanhofer commented on #29
Thanks for the PR. I was not aware that `fs` isn't multiplatform.
`chokidar` sounds like a good solution to make the experience the same on all platform. I will fix this 👍

[2021-04-26 13:30] #29 closed

[2021-04-26 13:34] ivanhofer commented on #29
version 2.17.0 was released a few moments ago. The watcher should work on linux now.

[2021-04-26 13:54] #30 closed

[2021-04-26 13:57] bartenra commented on #29
To be clear, the watcher won't really work for Linux since recursive watching is disabled.

But it will at least run at all. ;-)

[2021-04-26 13:57] bartenra commented on #30
Nice change!

[2021-04-26 13:58] ivanhofer commented on #30
**version 2.17.1** was released a few moments ago.

You are now able to run the watcher via:
[code]

or by defining a script in your `package.json` file:

[code]

[2021-04-26 15:16] ivanhofer commented on #29
chokidar automatically watches recursively or did I miss someting?

[2021-04-27 05:39] ivanhofer commented on #29
@bartenra I just tested it on WSL of my windows machine and it works also recursively. Can you please confirm that it also runs on your native Linux machine?

[2021-04-30 09:53] #28 closed

[2021-05-08 17:33] xferqr opened #36 "Named export 'i18nObject' not found"
node: 15.8.0
vite: v2.2.4

	"compilerOptions": {
		"moduleResolution": "node",
		"module": "es2020",
		"lib": ["es2020"],
		"target": "es2019",
.....

package.json:   "type": "module"

[2021-05-10 06:48] ivanhofer commented on #36
Hi @xferqr,
could you please provide me some more context?
I just created a new vite application with the same TS compiler options and it works for me.

[2021-05-19 04:41] ivanhofer commented on #36
I'll close this ticket due to missing information on how to reproduce it

[2021-05-19 04:41] #36 closed

[2021-06-07 06:58] ivanhofer opened #49 "react adapter is broken in version > 2.26.x"
I need to investigate why...

workaround: use version 2.25.x

[2021-06-07 15:39] #49 closed

[2021-06-24 15:37] Dzeri96 opened #55 "Start node generator without watcher"
Hi,
When testing my app, I'd like to generate the Translation class in order to check type safety with `tsc`. A script in `package.json` would look something like this:
[code]
But the problem is that the watcher keeps running and the script never continues executing. Would it be possible to have a one-shot mode of the `typesafe-i18n` command? I'd contribute if you don't have time.

[2021-06-24 17:59] ivanhofer commented on #55
Hi @Dzeri96,
I also need to implement this functionality for an upcoming feature. Just give me a few days :)

[2021-06-25 05:53] #55 closed

[2021-06-25 05:57] ivanhofer commented on #55
You can checkout the new [`--no-watch`](https://github.com/ivanhofer/typesafe-i18n#running-the-generator-in-cicd) option in version 2.28.0

[2021-06-25 08:48] aelesia opened #57 "Consider providing support for Jest + React out of the box"
Currently Jest is not able to run with typesafe-i18n out of the box.

The problem is caused by this line: `import { initI18nReact } from 'typesafe-i18n/adapters/adapter-react'`, as `adapter-react.js` is compiled as a ESM file, however Jest is only able to process CJS files out of the box.

I was able to get Jest to run after changing `packages/adapters/rollup.config.js` to `format: 'cjs'` and rebu

[2021-06-25 13:27] #57 closed

[2021-06-25 13:29] ivanhofer commented on #57
Please check if it works for you with version 2.29.0

[2021-06-25 15:06] ivanhofer commented on #57
I found some issues with the cjs and esm handling. Will be fixed in a few minutes in version 2.30.0

[2021-06-28 04:51] aelesia opened #59 "Default translations not defined on first render"
Currently facing an issue where Jest fails to load translations despite having a `baseLocale` and `initialLocale` set.

The problem comes from `react-adapater.tsx`, where `currentLocale` and `LL` are not initialized on first render.

Normally this isn't an issue when viewing the webpage as it re-renders almost immediately, but Jest only captures the first render and fails due to it not being set.

[2021-06-28 06:07] ivanhofer commented on #59
You are loading your locales synchronously, am I right?
This code is written to support both sync and async loading of locales. I think your solution would not work with async locale fetching.

I'm no react expert but I will check if I can find a better solution to have the first render show the translations.
Thanks for your feedback!

[2021-06-28 07:49] aelesia commented on #59
Hi yup, I'm loading my locales synchronously, and yup, I don't think it will work with async locale fetching. I'll try to explore a way to make it work with both.

_____

However I also had problems with `loadLocalesAsync: true` even with vanilla code with no modifications. React kept complaining that LL.<translation> is `undefined`. After changing it to `loadLocalesAsync: false` it worked. Wasn't

[2021-06-28 09:57] Dzeri96 commented on #55
Thanks for the fast implementation!  One suggestion I'd also make is to remove the `chokidar` dependency when running in one-shot mode. As far as I'm aware it's not needed in that case.

[2021-06-28 14:37] ivanhofer commented on #55
It's not needed to run but I would need to create an own bundle for the --no-watch option.
And I think this would not work with the `bin` attribute inside `package.json`.

[2021-06-30 14:24] ivanhofer commented on #18
was fixed with version 2.31.0

[2021-06-30 14:24] #18 closed

[2021-07-04 16:05] #59 closed

[2021-07-05 07:01] galkatz373 opened #60 "Using translations in a ts file"
First I have to say the library is amazing.
Making my website for multiple languages, never been easier.

However I'm trying the use the translations inside a seperate .ts file for validations, and I can't figure out to do it properly.

An example:
[code]

I'm trying to replace the string at the end with my translation.
Thanks in advance.

[2021-07-05 09:38] ivanhofer commented on #60
Hi @galkatz373,
thanks! I am glad to hear you like the project.

I assume you are using the library inside a 'react' application. Is this correct?
If yes, you would need to pass the `LL` translation object to your validation function, to keep the language synchronized with your application.

[code]

Hope this helps :)

[2021-07-05 09:44] galkatz373 commented on #60
I thought about it, but then I have to pass the translation object each time I call the validation function.

[2021-07-05 09:57] ivanhofer commented on #60
It's hard to tell what exactly could work for you without seeing the code.

But you could wrap it like this:
[code]

You would make sure to call `createRequiredValidator` again every time the language changes.

[2021-07-05 11:05] galkatz373 commented on #60
The last solution is better, thanks for the help!

[2021-07-05 11:54] #60 closed

[2021-07-06 09:16] aelesia opened #61 "bug: 2.32.0 broken import"
Replicate:

1. Checkout `typesafe-i18n/examples/react`
2. Bump typesafe-i18n to 2.32.0
3. `npm install`
4. `npm run`
5. Navigate to localhost:3000

[code]

<img width="563" alt="Screenshot 2021-07-06 at 17 16 04" src="https://user-images.githubusercontent.com/7008316/124575310-dd4cac80-de7d-11eb-87a2-84d8ef4fc6bf.png">

[2021-07-07 05:39] #61 closed

[2021-07-07 05:40] ivanhofer commented on #61
There was an issue in the build process on unix systems. Should be fixed with version 2.32.2

[2021-07-07 06:21] ivanhofer commented on #61
found and closed another related bug with version 2.32.3

[2021-07-08 13:05] pit999 opened #62 "Angular Adapter"
A adapter for Angular or setup/sample for Angular would be helpful.

[2021-07-08 13:13] ivanhofer commented on #62
Hi @pit999, I'm no Angular expert, so it's hard for me to provide a good solution. Would you like to help contribute?

[2021-07-08 13:37] pit999 commented on #62
Yes :-).
I tried the node adapter but got some error messages when I compile/run the angular app.
After that I tried with the undefined adapter and now I have to understand what to do.
It was so easy to use it with node without understanding the code in detail :-)

[2021-07-08 14:40] ivanhofer commented on #62
All you need should be inside the generated `src/i18n/typesafe-util.ts` file. Basically you would need to write a wrapper (maybe an Angular Service) for these functions, that handles your state (current selected locale, translation object, etc.).

If you take a look at the existing adapters for [react](https://github.com/ivanhofer/typesafe-i18n/blob/main/packages/adapter-react/src/react-adapter.ts

[2021-07-08 14:44] pit999 commented on #62
Thank you. Will try that and keep you informed.

[2021-07-09 12:24] pit999 commented on #62
It will take some time. I never developed an Angular Module so far (so I have to learn that too) and to dig deeper into your code.
At least I found an Angular Module implementation for i18next (https://github.com/Romanchuk/angular-i18next-demo). I could use this module, but I like the type safe implementation.

[2021-07-09 12:35] pit999 commented on #62
Above link was for a demo. The module is here: https://github.com/Romanchuk/angular-i18next

[2021-07-09 12:48] ivanhofer commented on #62
I think a Service would be the preferred solution. As far as I can remember, Modules are more complex to integrate into another application than using only a service. I haven't written any angular code in years, so maybe that has changed. Also from the complexity point, I think the whole angular integration should  only take < 100 lines of code.

[2021-07-09 14:25] pit999 commented on #62
I see some benefits for a module (easy to reuse/install, use of pipes which makes the overall handling much easier (otherwise you a variable in your component class to use in the html file) and the overhead ist not that much - as far as I can see :-)
And I'm not under time pressure :-)
Did you use Angular 1 or >2?

[2021-07-09 14:43] ivanhofer commented on #62
Sounds you know a lot more of Angular like I do ;)
I think it was version 4. But I heard that in recent years they improved the developer experience a lot, so I assume some parts have changed a lot.
I'm looking forward for the solution you will come up with :)

[2021-07-13 14:12] pit999 commented on #62
Additionally I tried just to use detectLocale in an Angular class:
import { localStorageDetector } from 'typesafe-i18n/detectors'
import { detectLocale } from './../i18n/i18n-util'
...
const detectedLocale = detectLocale(localStorageDetector);

But get two errors:
ERROR in ./src/i18n/i18n-util.ts 21:46-60
"export 'detectLocale' (imported as 'detectLocaleFn') was not found in 'typesafe-i18n/detecto

[2021-07-14 05:21] ivanhofer commented on #62
Hi @pit999,
the parts inside the `< >` are called generics. You can read about them here: https://www.typescriptlang.org/docs/handbook/2/generics.html
Basically it is a way to model a function that can take different arguments and the output of that function depends on the input types. In this case e.g. if we pass in `'en' | 'de'` as the first generic (`L`), typescript will yell at you if you try

[2021-07-14 12:19] pit999 commented on #62
Thank you, will read the article.

version 2.33 fixed the problem.

Now I tried to use the node implementation and get following error during run time.
i18n-util.ts:34 Uncaught TypeError: Object(...) is not a function
    at i18n (i18n-util.ts:34)
    at Module.9amk (i18n-node.ts:6)
export const i18n = () => initI18n<Locales, Translation, TranslationFunctions, Formatters>(getTranslationForLocale,

[2021-07-14 12:24] pit999 commented on #62
I read the article yesterday. For normal generics I understand the concept, but this one looks different :-) I will try with any.
One last question for now: Should I work with L, LL or LLL? (A newbie to i18n too :-))

[2021-07-14 14:51] ivanhofer commented on #62
@pit999 I'm not sure why you get this error. Please only use the function inside `i18n-utils.ts`. These should work.

These functions (`L`, `LL` and `LLL`) are not common for i18n. In `typesasfe-i18n` translation functions are named like this.
You can read more about the differences [here](https://github.com/ivanhofer/typesafe-i18n#general).

You should probably work with `LL`.
`L` is a wrapper ar

[2021-07-15 05:47] ivanhofer commented on #62
@pit999 I have created a new branch [`angular`](https://github.com/ivanhofer/typesafe-i18n/tree/angular) and placed a basic Angular app into to [`examples`](https://github.com/ivanhofer/typesafe-i18n/tree/angular/examples/angular) folder.
Maybe you can come up wit a better solution on how `typesafe-i18n` should work inside a Angular application?

[2021-07-15 12:46] ivanhofer opened #63 "add option to generate type-safe JavaScript code trough JSDoc annotations"
with this addition also JavaScript codebases could take advantage of full type-safety

Things to do:
 - [x] add JSDoc option to generator
 - [x] read locales from `index.js` file
 - [x] generate.js files
 - [x] remove types from generated output
 - [x] add JSDoc types annotation
 - [x] document feature

[2021-07-15 13:59] es-lynn opened #64 "'formatters.ts' not re-generated when changing 'loadLocaleAsync' option"
Been experiencing weird bugs sometimes that weren't present in the `examples/react`.

My problems started from this line when I followed the React guide:

[code]

This defaults to `loadLocalesAsync: true`, and generates an `AsyncFormattersInitializer`.

However after changing it to `loadLocalesAsync: false`, it never re-generated the file to a sync `FormattersInitializer`, which caused many weird

[2021-07-15 14:26] aelesia opened #65 "Not supported on older browser versions due to Intl.PluralRules & Intl.Locale"
https://caniuse.com/?search=PluralRules

My main phone is an iPhone 6S running 12.1.1. It's not able to load the webpage as it does not have Intl.PluralRules & Intl.Locale. As such I'm using polyfills for both:

[code]

This isn't really a bug or problem with the library. But perhaps the library could either call an alternative method or provide a section with instructions on how to solve this iss

[2021-07-15 14:44] ivanhofer commented on #65
Hi @aelesia;
I'm aware that these functions are not supported in older browsers. I don't want to include the polyfills in the library itself, so like you already guessed, you need to include them by yourself.

The only thing I could do is updating the READMRE file to make it clear.
Do these two polyfills you mentioned work on older browsers?

[2021-07-15 14:48] aelesia commented on #65
Hi! Yup I've tested on my iPhone 6S running 12.1.1. It works after adding both of these lines:

[code]

https://formatjs.io/docs/polyfills/intl-pluralrules/
https://formatjs.io/docs/polyfills/intl-locale

[2021-07-15 14:54] ivanhofer commented on #64
Thanks for filing this issue. I already have thought that the current implementation is not ideal.

The `initFormatters` function is needed because the formatters could be locale-dependent (e.g. date-formatting), so when you switch locale, also your formatters need to be recreated.

When running the `generator`, I think we could check if the formatter file was changed already
 - if no => replace i

[2021-07-15 14:54] ivanhofer commented on #65
Ok, thanks! I will update the README file

[2021-07-16 04:39] ivanhofer commented on #65
@aelesia nut sure why you need to include both polyfills?
I just checkt the [formatjs website](https://formatjs.io/docs/polyfills) and it seems you would only need this polyfill:
https://formatjs.io/docs/polyfills/intl-pluralrules/

`typesafe-i18n` by default only uses `Intl.PluralRules`. Additional there exist two optional [`formatters`](https://github.com/ivanhofer/typesafe-i18n#formatters) that

[2021-07-16 04:47] pit999 commented on #62
Really cool and amazing :-) I installed your code and run it successfully.

I adapted my code and still get the following error in
i18nService.initI18n('en').then(() => {
async initI18n(locale: Locales): Promise<void> {
		await this.setLocale(locale)
	}
async setLocale(locale: Locales): Promise<void> {
		**this._LL = await i18nObject(locale)**
		this.currentLocale = locale
	}

core.js:4442 ERROR E

[2021-07-16 04:48] pit999 commented on #62
And thanks for your support, amazing. I'm on holiday next week, but will look into the module implementation as I see great benefit in using pipes in the html files :-)

[2021-07-16 04:55] ivanhofer commented on #62
@pit999 what Angular version do you use?
Angular sometimes wraps native browser functions. I had to implement a workaround in order to make the asynchronous code work with Angular because of that.
So maybe there is a bug somewhere in the Angular implementation?

Could you please share the code-snippet that is on line 4442 of `core.js`?

[2021-07-16 06:13] pit999 commented on #62
I'm using Angular 10.
core.js in angular\core?
I found these lines in fesm2015 \core.js (4441-4443
function defaultErrorLogger(console, ...values) {
    console.error(...values);
}

[2021-07-16 06:16] pit999 commented on #62
Line 4442 of angular12\core.js is in angular10\core.js
const ES2015_INHERITED_CLASS_WITH_DELEGATE_CTOR = /^class\s+[A-Za-z\d$_]*\s*extends\s+[^{]+{[\s\S]*constructor\s*\(\)\s*{\s*super\(\.\.\.arguments\)/;

[2021-07-16 06:44] ivanhofer commented on #62
hmm.. i can't really see what causes the error ` TypeError: Object(...) is not a function`. Maybe you could set a breakpoint and see what happens?

[2021-07-16 08:51] pit999 commented on #62
In my app:
![image](https://user-images.githubusercontent.com/5500277/125920738-bb42848a-0b4b-4f93-a66d-5e25bdabc94f.png)

In your app:
![image](https://user-images.githubusercontent.com/5500277/125920864-02e965c6-9f70-4698-814c-39ea8254876c.png)

[2021-07-19 05:57] #65 closed

[2021-07-19 06:09] #63 closed

[2021-07-19 07:08] ivanhofer commented on #62
@pit999 I have found the issue and released version `2.35.1`. It should now also work with older Angular versions.

[2021-07-20 04:14] ivanhofer opened #68 "transform bundle so no runtime parsing is needed"
In its current implementation `typesafe-i18n` needs to parse each translation the first time it gets called. The parsing part is taking about half of the bundle size. The whole library could be trimmed to < 0.5 bytes if the parsing would take place compile-time.

Instead of this:

[code]

the production bundle output could be:

[code]

This would mean slightly larger output for each translation fi

[2021-07-21 06:50] pit999 commented on #62
Great, I tried and it works now in my app. Will check in more detail after my holidays :-)
Thanks for your help so far. I'm sure I never got this running :-)

[2021-07-21 14:42] ivanhofer opened #69 "add an `importer` that makes it possible to import translations from another service"
The importer would provide a function that can be called to store translations that come from another service like a translation service or a simple spreadsheet. This can be useful if the translations are handled from an external agency.

This could look something like:

[code]

The data needs to be fetched, mapped and then passed to the `storeLocalesToDisk` function. The `storeLocalesToDisk` woul

[2021-07-21 15:20] ivanhofer opened #70 "add `namespaces` functionality"
Namespaces would be a native option to load only selected parts of the translations. Useful for bigger applications so not all messages need to load the same time e.g. translation that are only needed in the settings panel are not needed on the login page.

You would define your translations something like:

[code]

where `workspace` would be a function that loads the workspace via an async import

[2021-07-29 17:23] nn1k4 opened #71 "Error: Cannot find module 'typesafe-i18n/formatters'"
Now the error appears in developer mode.

Error when evaluating SSR module /src/i18n/formatters.ts:
Error: Cannot find module 'typesafe-i18n/formatters' from 'D:/app/src/i18n'

"typesafe-i18n": "^2.36.0"
"@sveltejs/kit": "^1.0.0-next.138",

[2021-07-30 15:56] ivanhofer commented on #71
This seems like an issue within `vite`. I need to investigate it further when I have more time.
Meanwhile you can copy the formatter functions from [here](https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/formatters/src) or write your own.

[2021-07-30 17:13] nikolay-borzov commented on #71
I assume the error happens because `.cjs` and `.mjs` extensions might not be resolved within your configuration.

[2021-07-30 19:58] ivanhofer commented on #71
vite does not resolve `.cjs` and `.mjs` file extension in ssr mode. I will open a PR next time I'm in front of my laptop.

[2021-07-31 05:51] ivanhofer commented on #71
I opened an Issue in the `vite` repository: https://github.com/vitejs/vite/issues/4452

### Workaround:
 - go to `node_modules/vite/dist/node/chunks`
 - look for the variable `ssrExtensions` in one of the `dep-*.js` files
 - add `'.cjs'` to the array

Then you should be able to run your application again.
It's a one-time fix and only effects your development environment (as far as I can see). Prod

[2021-08-17 13:22] IRediTOTO opened #72 "Can typesafe can use with nextjs?"
Hi, can your pack use with nexti18 package ? THank you

[2021-08-17 14:52] ivanhofer commented on #72
Hi @IRediTOTO,
yes, `typesafe-i18n` should work with Next.js.
You will need to set the [`adapter`-option](https://github.com/ivanhofer/typesafe-i18n#adapter) to `'react'`.

[2021-08-19 03:28] IRediTOTO commented on #72
I am starting using this, but the docs... Can you write it more clear a little for newbie like me? What files should I create, what code should I put in. Want a easy started.

[2021-08-19 05:07] ivanhofer commented on #72
You should take a look at the react-example: https://github.com/ivanhofer/typesafe-i18n/tree/main/examples/react
You should find everything there

[2021-08-19 19:42] aelesia commented on #71
Hi, I'm experiencing this issue after upgrading to npm v7 with Jest.

Using `npm v6`, I had no issues resolving when running my Jest tests.

After using `npm v7` and upgrading my package.lock, I'm no longer able to run my Jest tests.

[code]

When I rename the .cjs file to .js, it works fine.

Using the following:
- npm: 7.21.0
- ts-jest: 26.5.4

[2021-08-19 20:11] aelesia commented on #71
^regarding the above, I needed a quick fix so I did the following:

1. Delete package.lock
2. Downgrade to `npm v6`
3. `npm install` with v6 to generate lockfile
4. Upgrade to `npm v7`
5. `npm install` with v7 to upgrade lockfile

[2021-08-20 16:19] ivanhofer commented on #71
Thanks @aelesia for providing a solution.

As far as I can tell, "older" npm packages don't always resolve files correctly.
This package should be compatible with `cjs` and modern `esm` formats. I'ts hard to provide a solution that works with everything that is out there.. and I really don't want to split this project and provide it's own npm package for each framework.

I think I have configured

[2021-08-20 17:35] hmmhmmhm opened #73 "Error: Cannot find module 'chokidar'"
[code]

i used to install `npm i -D typesafe-i18n` on my project and i wroted command script in my package.json
[code]
and i found like this error messages
[code]

[2021-08-20 17:38] hmmhmmhm commented on #73
i installed chokidar using command manually `npm i -D chokidar`, and yes it works.. but i think `chokidar` is might be append devDependencies, not the `peerDependencies`

[2021-08-21 05:56] ivanhofer commented on #73
You are right!. Thanks,
Not sure why, but I somehow thought that `chokidar` itself is a dependency of `typescript` and will be installed anyways.
I will fix this.

[2021-08-21 06:08] #73 closed

[2021-08-24 06:25] ivanhofer commented on #72
@IRediTOTO did it work with Next.js?

[2021-08-24 06:40] IRediTOTO commented on #72
Yes, NextJS.

[2021-08-24 06:42] IRediTOTO commented on #72
I am using next-translate pack. But your pack is best idea i think, never missed a text. I just worry about performance, run much js on client can make UX slow (same as css in js - I used css file for now)

[2021-08-24 14:13] ivanhofer commented on #72
I don't think `typesafe-i18n` causes performance problems. It is well optimized and adds only a small amount of JavaScript to your bundle. If you have concerns about a slow UX, then maybe React is not the best choice, since the diffing of the virtual DOM is slow on heavy interactive sites. But I don't think you will experience any performance issues in a small- to medium-sized project 😉

[2021-08-24 15:18] mullwaden opened #75 "Formatters typing generates one param type per translation file entry"
First of all, thanks for a fantastic library, its fantastic to be able to mix TS and i18n in this way.

I'm running into a rather weird issue. The generated formatter type creates one input param type per translation file entry.

[code]

As you can see, ``User | User | User | User | User | User``. One User for every ``{sender:User|userName}`` in the translation file.

[2021-08-24 15:47] pit999 commented on #62
Hi Ivan, sorry took a while to look deeper into this to develop an Angular pipe.
I got a simple pipe now running, but face a problem.
An Angular pipe provides a key and options you can use in the pipe.
So it's not static. Is there an option to use the key to access the related transform method of i18n typesafe?
I know it's a bit ridiculous, because you can use any key in the html tag with the pipe

[2021-08-25 05:16] #75 closed

[2021-08-25 05:19] ivanhofer commented on #75
Hi @mullwaden,
thanks for filing this issue.

Should be fixed in version `2.37.1`

[2021-08-25 05:44] ivanhofer commented on #62
Hi @pit999,

I'm not sure if a Pipe would be the best option here..
How would you call this in your template code?

When we would have a translation
[code]
I only came up with something like this:
[code]
This looks odd and I don't see any advantages over using it like it currently is
[code]

Maybe you can tell how you would like to use it in a Angular application?

[2021-08-25 07:00] pit999 commented on #62
Hi,
Your solution is absolutely fine with me :-)
I was not aware that this is possible.
I will use typesafe now in all my components to support different languages.
Best regards and thanks a lot,
Peter

[2021-08-25 08:47] mullwaden commented on #71
Having a similar issue with Jest. I think it might be worth restructuring how the package is imported (not exactly sure how though)

[2021-08-25 10:04] ivanhofer commented on #71
@mullwaden have you tried the experimental ESM Support?
https://jestjs.io/docs/ecmascript-modules

[2021-08-25 11:58] pit999 commented on #62
Hi,

another question: The following is not possible, isn't it?
{{ LL.HI({ entity: {{LL.entityName()}} }) }} or {{ LL.HI({ entity: LL.entityName() }) }}

[2021-08-25 12:16] pit999 commented on #62
I think I do not need the component in my components.
I changed the code to:
import { I18nService } from 'src/i18n/i18n.service';
...
  i18LL: any;

  constructor(
    i18nService: I18nService
  ) {
    this.i18LL = i18nService.LL;

and use e.g. {{i18LL.status()}} in the html file.

[2021-08-25 13:18] #72 closed

[2021-08-25 13:47] ivanhofer commented on #62
Ok great!
Please test it in your application and let me know if everything works. Then I can add an 'angular' adapter option to the generator.

Using only the service would mean that every component that uses i18n would need to have following code implemented
[code]

Passing in the `i18nService` to the constructor and creating a getter feels unnecessary.. is there an option in Angular to have a gl

[2021-08-25 14:32] mullwaden commented on #71
Hmm not sure I want to add experimental flags, its a pretty big setup we have. In our case it was the import of the locale detection that was causing issues. I set it to only generate types and made my own base file as we are not using that feature anyway:

[code]

[2021-08-25 14:40] mullwaden commented on #70
Kind of related feature that might be interesting. In a very large project, having all of the copy in one place becomes challenging. Right now (I could be wrong) the setup forces a structure like:

[code]

whereas something like this, allowing the copy to be colocated with the component/function could be very helpful to avoid jumping around in the codebase:

[code]

[2021-08-25 15:06] mullwaden opened #76 "Splitting translation into multiple files causes reload issues"
To avoid a massive translation file I have opted to split it into parts e.g.

[code]

If the copy is inside the index.ts file then any changes will be mirrored in ``i18n-types.ts`` rather quickly. But if I make changes to any of the other files (which in turn are included in index.ts) then the types are not updated. (when restarting typesafe it is updated however).

It should be noted that the lib

[2021-08-25 15:28] ivanhofer commented on #71
Good solution!
Jest does not support the modern`exports` field from `package.json` and so every import from a object in a sub-folder of `typesafe-i18n` will fail.

I have found a few issues on that topic.
https://github.com/facebook/jest/issues/9771
https://github.com/facebook/jest/issues/10422
https://github.com/facebook/jest/issues/2702

There are also mentioned a few workarounds, but I haven't

[2021-08-25 15:40] ivanhofer commented on #70
I'm not sure if I got it correct.

You can do that already, but you would need to import these objects inside the `src/i18n/[locale]/index.ts` file.
To simplify the generator, it uses the `index.ts` file's default export as the entry point to all your locales. What you then do inside that file is up to you. You can import anything that lays inside the root of your project.

You can have a file `sr

[2021-08-26 14:58] #76 closed, assigned to nobody

[2021-09-01 10:06] IRediTOTO opened #77 "Make an example for NextJS"
Hi, I am trying to use your pack with NextJS :) It's so great but can you make an example to show what is the best option for nextjs?
I am using like this
In my `_app.js`
[code]

in `button-change-language`

[code]

use it
[code]
Everything look work good but Is this the right way to use ?
I don't understand what is the benerfit of L,LL,LLL. is LL the best option?
Will the translate text fit SSR o

[2021-09-01 15:53] IRediTOTO commented on #77
Look like your pack just run on client, not on server. Text is not static :( it run on browser, I would love it run when i `npm run build to get static text`
![image](https://user-images.githubusercontent.com/15695252/131703436-9935881f-9b20-4df7-9a39-d8225f77118c.png)

[2021-09-01 16:10] IRediTOTO commented on #77
Finally, i config it out :) ` "loadLocalesAsync": false,`
please introduce your pack in NextJS group. Yours is the best, I think.
One more problem, if I have thousands of lines, can we separate files?

[2021-09-01 16:10] #77 closed

[2021-09-01 16:49] IRediTOTO opened #78 "Best way to separate files"
Hi, if translation file have thousands of lines. What will you do?
I am using like this, but it look like a good way.
[code]

file: lang-checkout.ts
[code]

[2021-09-01 17:23] Glinkis commented on #77
Huh. Why was I mentioned?

[2021-09-01 20:22] ivanhofer commented on #77
Hi @IRediTOTO,
thanks for documenting your configuration.
I never have used Next.js on my own yet, but it seems you figured everything out on your own 👍
I will update the examples to include a Next.js demo

[2021-09-01 20:35] ivanhofer commented on #78
Hi @IRediTOTO,
managing bigger dictionaries can be hard.
You should structure your translations like it suits best for you.

You could create smaller "feature" -packs and include them inside the `index.js`file like in your example above.

What I recommemd to do us nesting the translations:
you will find it probably easier to navigate troug an object structure then a flat list with a few hundred tr

[2021-09-02 03:16] hmmhmmhm commented on #73
@ivanhofer  oh... It seems that this issue is still occurring on typesafe-i18n@2.37.4. I think we need to add chokidar as a dependencies.

[2021-09-02 05:34] ivanhofer commented on #73
How do you install your dependencies?
`chokidar` is in the list of devDependencies and should also be there when you install `typesafe-18n`

[2021-09-02 06:24] hmmhmmhm commented on #73
@ivanhofer Oh, I'm sorry. It was installed properly after installation.

[2021-09-02 19:46] ivanhofer commented on #71
The issue vitejs/vite#4452 was fixed in `vite` version `2.5.2` and therefore also in SvelteKit version 1.0.0-next.160.
Can anyone confirm that the issue is resolved when using the latest version of `SvelteKit`?
This would make `typesafe-i18n` again compatible with `SvelteKit`.

Regarding the issue with `jest`: can anyone share a repo where I can reproduce the issue?

[2021-09-03 17:22] lisamburns opened #79 "License"
I tried out this library and it's great. I am not sure that I can use it in one of my projects though as I don't see any OSS licensing. Could you add a License file so we know what the licensing is?

[2021-09-03 18:48] #79 closed

[2021-09-03 18:52] ivanhofer commented on #79
Hi @lisamburns,
thanks for your question! It is **MIT**.
Until now I only had set the license property inside `package. json`.
Now also a `LICENSE` file is included in the project root to make it more clear.

[2021-09-04 20:09] MrNossiom opened #80 "Generator not compatible with "type": "module"."
Hello Ivan,

I switched to full ESM modules and everything works except the generated file `i18n-util.ts`.

The import statement isn't compatible with ESM, since it imports without the `.js` extension and tries to import a folder directly.

Maybe there is a way to add support via a flag. (like `esmSupport`)

Something like this at https://github.com/ivanhofer/typesafe-i18n/blob/main/packages/gener

[2021-09-04 20:09] MrNossiom commented on #80
This might be a duplicate of #71, but I wanted to create my own issue.

[2021-09-05 04:06] ivanhofer commented on #80
Hi @MrNossiom,
sounds like a good solution! You can create a PR if you like.
I'm not so sure about #71, but we will see once the imports are updated

[2021-09-11 12:56] #78 closed

[2021-09-12 15:54] ivanhofer commented on #62
@pit999 did you integrate typesafe-i18n into your Angular application? Did everything work?

[2021-09-15 05:21] #80 closed

[2021-09-15 05:26] ivanhofer commented on #80
Fixed in version `2.39.0`

[2021-09-16 15:15] pit999 commented on #62
Hi Ivan,
sorry for late reply, but I was off some days and this is not my main project (unfortunately :-))

Following code seems to be sufficient too:
import { I18nService } from 'src/i18n/i18n.service';
...
constructor(
    public i18nService: I18nService
  ) {

In Component/ts file:
this.i18nService.LL.deleteMessage();

And in html Code:
{{i18nService.LL.saveButton()}}

[2021-09-20 14:32] SnO2WMaN opened #83 "Something broken in React Dev Tools"
When I try to debug a component with `useContext(I18nContext)` (maybe) in React Dev Tools, a browser extension, I got an error like the below image (`Uncaught TypeError: e.split is not a function`) occurred.

![2021 09 20_23 19 54](https://user-images.githubusercontent.com/15155608/134018683-1ca6dfc8-96e9-4bad-83fe-4ce30bf6d795.png)

I don't know the cause of this error, and perhaps other people a

[2021-09-21 05:32] ivanhofer commented on #83
Hi @SnO2WMaN,
it is an issue within the React Dev Tools. Right where the code fails there is this comment:

![image](https://user-images.githubusercontent.com/21335119/134116423-e5c39cc5-0ce9-4e2e-a8e7-bebb5595a44d.png)

It links to this issue: https://github.com/facebook/react/issues/21654
It is closed but apparently not completely resolved yet.

[2021-09-21 05:42] ivanhofer commented on #83
I have created a PR that fixes the issue: https://github.com/facebook/react/pull/22380

[2021-09-21 06:44] SnO2WMaN commented on #83
wow very speedy thanks!

[2021-09-22 06:23] #62 closed

[2021-09-22 06:26] ivanhofer commented on #62
An official `angular` adapter is now available in version `2.40.0`

[2021-09-26 09:17] ivanhofer commented on #69
Example-services:
 - https://locize.com/
 - https://lokalise.com/
 - https://simplelocalize.io/

[2021-09-29 04:58] ivanhofer commented on #69
Also an `exporter` would be needed, in order to be able to send the current state of translations to an external service

[2021-09-29 10:20] mullwaden opened #86 "Optional parameters in translations"
### Describe the bug

Optional parameters seem to be available, but they do not work, no value is passed along to the translation formatters.

### Reproduction

[code]

This will return ``Project due date: n/a`` although the types look correct and a date is sent along.

### Logs

_No response_

### Config

_No response_

### Additional information

_No response_

[2021-09-29 14:54] ivanhofer commented on #86
Actually, I never have thought about optional parameters ^^
I am really surprised that the type-system works out-of-the-box.
But the value doesn't get output. I will fix that

[2021-10-01 05:13] #11 closed

[2021-10-01 05:15] ivanhofer commented on #70
@mullwaden did you see my comment above?

[2021-10-01 05:30] #68 closed

[2021-10-01 05:30] #15 closed

[2021-10-01 05:32] #16 closed

[2021-10-01 05:32] #13 closed

[2021-10-01 08:47] mullwaden commented on #70
yes! I ended up putting everything in the translations folder though. It works better with the automatic updates of the types.

One idea would be to go the route that jest, storybook and less go, where they automatically pick up files, e.g.
myClass.ts
myClass.test.ts

Imagine then you could do something like

[code]

It can be done, but it would require some interesting webpack shenanigans :)

[2021-10-01 12:15] ivanhofer commented on #70
@mullwaden sounds interesting. Pleas open a [`discussion`](https://github.com/ivanhofer/typesafe-i18n/discussions) with some more details. Maybe it is a topic for the future.

[2021-10-02 11:01] #86 closed

[2021-10-02 11:06] ivanhofer commented on #86
optional parameters are now supported in version `2.41.0`

[2021-10-06 04:39] Evertt commented on #18
Sorry, but how does one get the generator to work with Sveltekit? I see there's a page about Svelte / Sveltekit / Sapper, but there's no mention of Vite in there and I don't know how to configure Vite to run the generator...

[2021-10-06 05:18] ivanhofer commented on #18
Hi @Evertt,
please take a look at this section: https://github.com/ivanhofer/typesafe-i18n#node-process
I will need to update the svelte-Readme, since with svelte-kit, the `node-process` makes more sense than the `rollup-plugin`. Thanks for pointing it out :)

[2021-10-06 05:36] Evertt opened #99 "Generated types seem to be incorrect?"
### Describe the bug

I didn't do anything special as far as I'm aware. I just wanted to try out the `HI` translation that I saw in the readme.

So my base translation file, at `/src/i18n/en/index.ts` looks like this:

[code]

And then I tried to write the dutch translation file at `/src/i18n/nl/index.ts` like this:

[code]

And then I got the following error.

![image](https://user-images.githubu

[2021-10-06 14:35] ivanhofer commented on #99
hi @Evertt,
the type `string` is only needed for the base locale to tell the generator what type that argument should be. It does not make that much sense to include that type also in all the translations. Your `nl`-translation should look like:

[code]

[2021-10-06 14:35] #99 closed

[2021-10-12 07:12] ivanhofer commented on #69
available in version `2.43.0`

[2021-10-13 05:33] ivanhofer opened #101 "BREAKING: get rid of `locales` as generator-config"
### Discussed in https://github.com/ivanhofer/typesafe-i18n/discussions/95

<div type='discussions-op-text'>

<sup>Originally posted by **ivanhofer** October  2, 2021</sup>
This option only makes sense inside the rollup-process, so it should only be available there.

Currently the rollup- and webpack-process allows to configure the generator by passing it as an argument. This option should be remo

[2021-10-14 06:26] ivanhofer opened #105 "changes to base translation not detected when using `outputFormat: 'JavaScript'`"
### Describe the bug

## issue

The generator can't detect changes because it uses `import` to load the contents of the base translation file. The `import` statement gets cached so the process is not able to detect the changes.

### possible solution

We can't just copy the file and import it from there to a new location because it may contain other imports.
Maybe we can also use TypeScript to "co

[2021-10-15 05:47] #105 closed, assigned to nobody

[2021-10-18 14:31] ivanhofer opened #106 "create an `exporter` that makes it possible to export translations to an other service"
<div type='discussions-op-text'>

<sup>Originally posted by **ivanhofer** October 13, 2021</sup>
As a counterpart to the [`importer`](https://github.com/ivanhofer/typesafe-i18n#importer) there should also be the possibility to export translations to other services.

The `exporter` could look something like:
[code]
</div>

[2021-10-18 15:17] #106 closed, assigned to nobody

[2021-10-18 15:59] Achaak opened #108 "Import path on windows"
### Describe the bug

Hi,

I have a bug.
typesafe-i18n cannot find a path .

Thanks

### Reproduction

I just follow the readme and test on a windows device in a library using webpack.
But I just run the script: "typesafe-i18n": "typesafe-i18n",

### Logs

[code]

### Config

[code]

### Additional information

_No response_

[2021-10-19 05:34] #108 closed, assigned to nobody

[2021-10-19 08:42] Achaak opened #109 "Package path ./importer is not exported from package"
### Describe the bug

Hi,

The package path ./importer is not exported from package.

Thanks

### Reproduction

I tried the example of imports with NextJs.

### Logs

[code]

### Config

[code]

### Additional information

_No response_

[2021-10-19 10:56] Achaak commented on #109
Yes there is

![image](https://user-images.githubusercontent.com/39270779/137895962-3d875bfc-720a-4b9c-a645-8b82c17b56df.png)

[2021-10-19 13:55] ivanhofer commented on #109
How do you run the file that includes the `importer`?
You should run this as a node script e.g. `ts-node ./src/import-translations.ts`
See the docs: https://github.com/ivanhofer/typesafe-i18n#importer

[2021-10-19 15:43] Achaak opened #110 "Import key format"
### Describe the bug

When I import the translate, the keys of the imported json file formatted like this "my-example" bug.

JSON file:
[code]

Import formated
[code]

### Reproduction

Have a json file with a key with a dash.

### Logs

_No response_

### Config

_No response_

### Additional information

_No response_

[2021-10-19 18:42] #110 closed, assigned to nobody

[2021-10-28 15:29] Achaak opened #114 "Bug with string symbols in json"
### Describe the bug

Hi,

As soon as we use symbols in the json file with storeTranslationsToDisk, the output creates json formatting errors.

Thanks

### Reproduction

Example with \n

[code]

to

[code]

fix format
[code]

### Logs

_No response_

### Config

[code]

### Additional information

_No response_

[2021-10-29 05:16] #114 closed, assigned to nobody

[2021-11-23 17:59] zingmane opened #127 "Type error in types/core.d.ts"
### Describe the bug

`An index signature parameter type cannot be a union type. Consider using a mapped object type instead. ts(1337)`

![image](https://user-images.githubusercontent.com/148202/143078417-a71e13cc-28ec-41a8-80bc-52bc03732a17.png)

### Reproduction

I'm using TS 4.3.2 in strict mode.
Unfortunately, I don't have a repo available for it right now.

### Logs

_No response_

### Config

[2021-11-23 18:02] ivanhofer commented on #127
I also saw that error today.
The `//@ts-ignore` comment gets removed when running `tsc`. I will fix that in the coming days

[2021-11-24 06:14] #127 closed

[2021-11-24 06:43] ivanhofer commented on #127
actually it was a different error that I had discovered before.
Anyway both issues should be fixed in version `2.53.2`

[2021-11-26 04:01] hmmhmmhm opened #131 "The 2.49.0 version and 2.54.0 are critical incompatible. (silent shutdown..?)"
### Describe the bug

Many projects that installed this project lightly as `npm i typesafe-i18n` in version 2.49.0 are currently not working.
So I'm using the version of typesafe-i18n by lowering it to 2.49.0 version.

Can you check this out? I think this is fatal.

### Reproduction

Initialize empty project of polyger (it based typesafe-i18n 2.49.0)
[code]
The above command will be nothing execut

[2021-11-26 06:41] ivanhofer commented on #131
Hi, thanks for filing this issue.

When I run `npx polyger` I get following error message:

![image](https://user-images.githubusercontent.com/21335119/143537601-4d081fba-6c76-49c2-b219-15b84a8fe1c2.png)

I'm not sure how you call `i18nObject`. It seems you are passing `undefined` as an argument.

But I don't think that this is the issue that you mean.
Can you please give me more details?

[2021-11-26 06:57] hmmhmmhm commented on #131
I tested it in the following environment.

OS: `Windows 10`, `Mac OS X Big Sur`
Node Version: `v12`, `v14`, `v16`

I remember that currently polyger project probably didn't well work in the Linux's OS.
Or you may need to try reproduce after emptying the npm cache using the command below.
[code]

<br />

I took the os-locale of and quoted it, but in my case, that part was not a problem.
[locale/ind

[2021-11-26 07:13] ivanhofer commented on #131
I'm running it on `Ubuntu 20.4` and I logged the arguments of the `getLocale` function:

![image](https://user-images.githubusercontent.com/21335119/143541130-bea7cfe6-f944-4dd4-8c1f-5e833f892962.png)

For now I will hardcode the `localeCode` to 'en' to test it.
You probably should use `baseLocale` exported form `./i18n-utils` as a fallback

[2021-11-26 07:16] ivanhofer commented on #131
can cou tell me what call inside `polyger` triggers `typesafe-i18n` first?
So in which file and on which line does it fail?

[2021-11-26 07:31] hmmhmmhm commented on #131
I'm also trying now, but I failed specify the location itself. It stops like possessed by a ghost.
Instead, this time I'll sharing the situation with VM so that you can test it.

After connecting to each url, press the + button in the center of the right to open the terminal, and enter npm start.

typesafe-i18n@2.49.0 + polyger will works.
https://codesandbox.io/s/polyger-with-typesafe-2-49-vu3ew

[2021-11-26 07:37] ivanhofer commented on #131
I have found the issue.
try to replace `createProxy` inside `node_modules/typesafe-i18n/runtime/cjs/runtime/src/util.object.cjs` with this:

[code]
and it sould work again.

[2021-11-26 07:39] ivanhofer commented on #131
I thought that this "hack" `(target === proxyObject && key === 'then')` is just angular specific, since I only encountered it there. Something in your code cant handle Proxies correctly. Do you know what this could be? Are you using Proxies inside your code?

[2021-11-26 07:44] hmmhmmhm commented on #131
I had confirmed that it was operating normally after modifying the code.
also uploaded it on the in-house CI, and all of them are green.

[2021-11-26 07:49] hmmhmmhm commented on #131
+ currently, there is no proxy specified directly in this project.
my colleagues are just guessing that something in the cjs or typescript is twisting it. (zero evidence.)

[2021-11-26 07:57] ivanhofer commented on #131
yes, I am also assuming this. If you take a look at the generated code there is some `generator`magic with `switch-case` statements. I need to take a closer look at it in the coming days

[2021-11-26 08:01] hmmhmmhm commented on #131
Ok! then, will a temporary fixing version to be release soon?
Thank you for checking quickly so much.
I hope your project will be more successful! 👍🏻

[2021-11-26 14:45] #131 closed

[2021-11-26 15:02] ivanhofer commented on #131
@hmmhmmhm thanks for your praise!

Your problem should be fixed in version `2.54.2` that was released a few moments ago

[2021-11-27 12:23] huntedman opened #133 "Broken in NextJs"
### Describe the bug

I started a new nextjs project and followed the install instructions, and somehow it doesn't work.

It's failing at runtime with an error "TypeError: e is undefined".

I also added a link to a repo with my setup. Am I doing something wrong with the scripts?

### Reproduction

https://github.com/huntedman/broken-nextjs-i18n

### Logs

_No response_

### Config

_No response_

[2021-11-27 13:34] ivanhofer commented on #133
This error was introduced in version `2.54.0`. Until I am able to fix it, please use `2.53.2`.
You can install it by running `npm i typesafe-i18n@2.53.2`

[2021-11-27 14:02] #133 closed

[2021-11-27 14:06] ivanhofer commented on #133
should be fixed in version `2.54.3`

[2021-12-03 13:51] purge opened #136 "2.53.2 breaks return type of i18nObject"
### Describe the bug

before `2.53.2` i18nObject return type is correctly equal to generated `TranslationFunctions`.
in > `2.53.2` it returns the wrong type

### Reproduction

run i18nObject in pre / post version.

### Logs

_No response_

### Config

_No response_

### Additional information

_No response_

[2021-12-03 15:57] ivanhofer commented on #136
@purge could you please provide me some more info?
e.g. the code you are using

[2021-12-06 06:40] #136 closed

[2021-12-06 06:44] ivanhofer commented on #136
this issue only occurred on TypeScript > 4.5.x

it was fixed in version `2.55.1`

[2021-12-06 10:00] purge commented on #136
Sorry just got this - Thanks for the fix!

[2021-12-13 16:11] EstebanBorai opened #138 "Setup CLI | Support _pnpm_ as package manager"
### Describe the bug

Running:

[code]

Freezes during installation.

### Reproduction

`pnpm --package=typescript --package=typesafe-i18n dlx typesafe-i18n --setup-auto`

### Logs

[code]

### Config

[code]

### Additional information

I have a branch with some work done in the issue where support for pnpm is provided by doing `pnpm add typesafe-i18n`
if there's a `pnpm-lock.yml` file available.

[2021-12-13 16:31] ivanhofer commented on #138
Hi @EstebanBorai thanks for reporting the bug and providing a PR.

I find it strange that the normal `npm` command freezes. I thought it will probably just create a `package.lock` file for unsupported package managers.

I will take a look at your PR 👍

[2021-12-13 21:13] phil714 opened #140 "Jest fails to import detectors when testing in NodeJS"
### Describe the bug

Hi,

I've been trying to run my test since I added `typesafe-i18n` to my backend but I've been running into a problem. While testing manually to see if the translations were working right, everything seems to be working well but while running the tests, my tests that were testing files that used the translation were failing. It seems to fail to import the detectors in the uti

[2021-12-13 21:16] EstebanBorai commented on #138
Thanks! Of course I've landed a PR and also took in consideration the comment in the commit.

[2021-12-14 06:14] ivanhofer commented on #140
Hi @phil714,
thanks for creating this issue.

I think this is still the same issue as described here:
https://github.com/ivanhofer/typesafe-i18n/issues/71#issuecomment-905611444.
It seems that `jest` does not support modern `import` resolutions.
Nobody could provide me with more details so I closed the issue back then.

I'm no jest user, so I don't really know how to start investigating this.
Coul

[2021-12-14 06:42] #138 closed

[2021-12-14 06:47] ivanhofer commented on #138
Thanks @EstebanBorai for your help.
I have changed a few things and merged it.
You can try it in version `2.56.0`.

[2021-12-14 14:24] phil714 commented on #140
Hi,

Thank you for the quick response.

I've tried upgrading all our Jest-related librairies to the latest version and the issue seems to remain. I have looked at some issues linked in your other comments and like you said, (from what I understood) it doesn't look like their library support ESM resolution. It look like they are working on it but it might take a while.

https://github.com/facebook/

[2021-12-14 16:50] ivanhofer commented on #140
Would be great if you could provide me with an example repo, so I can take a look at how easy or hard it is to fix it 😊

[2021-12-15 06:38] thousandsofraccoons opened #142 "Cannot find package 'typescript' imported"
### Describe the bug

[code]
### Reproduction

create new nextjs app with ts, try to add typesafe-i18n

### Logs

_No response_

### Config

_No response_

### Additional information

_No response_

[2021-12-15 07:12] ivanhofer commented on #142
Hi @thousandsofraccoons,
have you installed `typescript` as a `devDependency` in your project?

[2021-12-16 19:35] phil714 commented on #140
Here goes @ivanhofer https://github.com/phil714/stunning-octo-chainsaw-jest-typesafe-i18n-test.

I've manage to reproduce it with minimal configuration. You should just have to install everything doing `npm i` and then run the test with `npm run test`. I've copied a large part of our `tsconfig.json` file since I'm honestly not an expert on how all of these options can affect the problems or not. L

[2021-12-16 20:12] ivanhofer commented on #140
@phil714 thanks for the repo! I will take a deeper look when I find some time :)

[2021-12-17 04:01] thousandsofraccoons commented on #142
yes, nextjs adds it by default if --typescript flag is specified

[2021-12-17 05:22] ivanhofer commented on #142
can you try to install `typescript` as a global dependency?
`npm install - g typescript`

[2021-12-21 10:05] thanoskrg commented on #140
Not sure whether this is the same issue I had with `react` where jest could not find module `typesafe-i18n/adapters/adapter-react` but this is how I managed to solve it by using the [`moduleNameMapper`](https://jestjs.io/docs/configuration#modulenamemapper-objectstring-string--arraystring) config option likewise:

[code]

Hope this helps.

[2021-12-21 14:55] ivanhofer commented on #140
@thanoskrg thanks for sharing your solution 👍

[2021-12-22 19:45] ivanhofer commented on #140
@phil714 I just tested the `moduleNameMapper` solution above and it works for me. Can you please verify if this is also working in your project?

[2021-12-23 08:30] thousandsofraccoons commented on #142
@ivanhofer
![image](https://user-images.githubusercontent.com/33694447/147211766-3f654321-8cbf-4710-9b90-74b1a7e53cde.png)

[2021-12-24 09:56] ivanhofer commented on #142
Strange.
@thousandsofraccoons can you please try to install `typesafe-i18n` via
[code]
and then run it from within the `node_modules` folder:
[code]

[2022-01-05 18:27] jeromecc commented on #142
Hi!
Had the same problem.
I ran:
npm install typesafe-i18n
./node_modules/typesafe-i18n/cli/typesafe-i18n.mjs
then:
npx typesafe-i18n --setup-auto
and it seems to solve the problem

[2022-01-05 18:39] ivanhofer commented on #142
What `operating system` are you using?
Which version of `node`?
Which version of `npm`?

[2022-01-05 22:52] jeromecc commented on #142
- Debian 11
- Node.js v14.18.2.
- npm 6.14.15

[2022-01-06 12:50] ivanhofer commented on #142
I'm not sure but I think the problem is that `npm` version `< 7.x.x` does not install `peerDependencies`. [This was added in version `7`](https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli).

I can't add `typescript` as a `devDependency` because I need the `generator` to create the types for the TypeScript version you are using in your project. If I would include `typescript`, then ty

[2022-01-09 10:36] ivanhofer commented on #142
I have added a troubleshoot section to the docs: https://github.com/ivanhofer/typesafe-i18n#installing-typesafe-i18n-fails

Feel free to reopen this issue if you still encounter some probplems when installing `typesafe-i18n`.

[2022-01-09 10:36] #142 closed

[2022-01-09 10:55] ivanhofer commented on #140
I have added a troubleshoot section to the docs: https://github.com/ivanhofer/typesafe-i18n#tests-are-not-running-with-jest

[2022-01-09 10:55] #140 closed

[2022-01-18 00:33] GLAD-DE opened #152 "How to get an entire array"
### Describe the bug

I have an array with 4 items that I want to display. Before using this package, which is awesome, by the way, I had the array defined like this: ```let arr = ['item 1', 'item 2', 'item 3', 'item 4']```. This allowed me to use the ```{:each}``` block provided by svelte for easy output. Unfortunately, I have not found a way to get the entire array at once when using typesafe-i1

[2022-01-18 06:00] ivanhofer commented on #152
Hi @GLAD-DE,
thanks for creating this issue. `typesafe-i18n` uses a [`Proxy`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) to access the translations. By default it doesn't support iterating over it's contents.
I will think about a way to make you use-case possible :)

[2022-01-18 14:44] GLAD-DE commented on #152
I may have found a way to enable this.

The downside of my approach is that there can't be more than one object with the same key in the same level since the first object would shaddow the following ones.

The links all lead to the same code
- [Link to jsfiddle](https://jsfiddle.net/a0h8vw5k/2/)
- [Link to OneComplier](https://onecompiler.com/javascript/3xqr4fwpy)

[2022-01-22 19:33] ivanhofer commented on #152
iterating over arrays should now work with version `2.60.1`.
[code]

[code]

@GLAD-DE could you please confirm?

[2022-01-22 19:33] #152 closed

[2022-01-23 10:40] GLAD-DE commented on #152
I can confirm that it is working as expected :)
Thank you very much for adding this feature so fast!

[2022-01-24 14:00] moufmouf opened #156 "Calling translations with .apply or .call"
### Describe the bug

I'm using typesafe-i18n (which is by the way excellent) with Svelte.

Everything is working great. I can write translations with

[code]

and it gets correctly translated.

Now, my application is using Testcafe for end-to-end test. And in Testcafe, it is translated to:

[code]

Notice the "apply" at the end of the string. The thing is Testcafe is doing some black magic to the

[2022-01-24 17:45] jbergstroem opened #157 "Recent `getFallbackProxy` changes breaks semver versioning"
### Describe the bug

The change introduced in https://github.com/ivanhofer/typesafe-i18n/commit/5b83c0170aa4d05b637c0a60c260577138424d31 breaks backwards compability for users that expects the name to be returned.

Not saying this is behavior wanted; but for some reason we had tests that leaned on it (which we will change).

### Reproduction

Invoke `getFallbackProxy` and expect the translation k

[2022-01-24 19:37] ivanhofer commented on #156
@moufmouf I just tested it inside a Svelte-component and I'm not sure if I have understood everything right.

When having following code:
[code]

The output in my console is:
![image](https://user-images.githubusercontent.com/21335119/150851570-bcccd958-06e6-40bb-b3a6-e54515c6787a.png)

In my opinion this is the correct behaviour.

[2022-01-24 19:38] ivanhofer commented on #156
Could you please tell me what version of `typesafe-i18n` you are using?
I have changed the `Proxy` implementation this weekend and I think I have fixed your problem without actually knowing this issue exists ^^

[2022-01-24 19:41] ivanhofer commented on #157
@jbergstroem can you please tell what your tests currently look like and how you plan to change them?
This would help me understand the problem better and I will know if I need to just revert the changes from the fallback proxy or also add some logic to the actual Proxy object.

[2022-01-24 19:58] jbergstroem commented on #157
The test essentially relied on getting the key back as a way of validating that an error message was received when a form was posted in a certain way. The author later changed it to lean on another mechanism provided by the validation instead.

[2022-01-24 20:00] ivanhofer commented on #157
So you don't actually initialize `typesafe-i18n` with valid translations inside your tests right?

[2022-01-25 00:14] ohbob opened #158 "Sveltekit example"
### Version

8.1.2

### Describe the bug

sveltekit example isnt working due the braking changes.

### Reproduction

[code]

### Logs

[code]

### Config

_No response_

### Additional information

ubuntu 20.4, firefox

[2022-01-25 05:16] ivanhofer commented on #158
@ohbob thanks!
Here is a working SvelteKit example:
https://github.com/ivanhofer/typesafe-i18n-demo-sveltekit

I need to update the docs to link it to this example

[2022-01-25 14:54] ohbob commented on #158
Thank you very much!

Could you expand the example of few nested routes? I'm quite stuck on the case and do not understand how I would achieve structure like domain.com/en/random/route/one

[2022-01-25 16:46] moufmouf commented on #156
I'll give a shot at the new version! Ping @nolway

[2022-01-25 19:07] ivanhofer commented on #158
Let me know if you need some help

[2022-01-25 21:05] #158 closed

[2022-01-26 12:27] ohbob commented on #158
Not really a bug, but want to understand how you handle importing static files? as the url changes, and there is no e.g. local font on the address domain/en/font.woff . I see this isnt a problem on prod where you would have links to stuff but on local, it's really pain in the ass.

[2022-01-26 12:50] aloker opened #159 "Concurrent requests can cause LL store to change locale mid-flight during SSR (SvelteKit, adapter-node)"
### Version

2.60.1

### Describe the bug

In SvelteKit with adapter-node, currently typesafe-i18n creates only a single LL store in memory that is used for all requests. Multiple concurrent requests may change the current locale of that store. This can cause locales to switch within one requests if another request with another locale runs concurrently, leading to completely or partially wrong tra

[2022-01-26 13:00] ivanhofer commented on #158
I assume you just put the files in the `static` folder and then access them in your template e.g.
[code]
where `logo.png` is in the root of the `static` folder.
This should work also with font files.

[2022-01-26 13:22] ivanhofer commented on #159
Oh, right 🙈 I actually thought that SvelteKit handles concurrent users.
This is something I need to check in detail. Thanks for pointing this out.

[2022-01-26 19:39] ivanhofer commented on #159
@aloker I now have tried a few things and the following solution works for me.
It's in a WIP state so it's not so elegant right now:

1. Replace the contents of `src/i18n/i18n.svelte.ts` with the following code:
[code]

2. Temporarely set the [`generateonlytypes`](https://github.com/ivanhofer/typesafe-i18n#generateonlytypes) option to `true`, so the generator doesn't override your modified `i18n-s

[2022-01-28 14:24] ivanhofer commented on #156
@moufmouf did it work?

[2022-01-28 15:00] moufmouf commented on #156
@nolway is testing it this afternoon!

[2022-01-28 15:05] #157 closed

[2022-01-28 15:10] ivanhofer commented on #157
I have reverted the changes made to the fallbackProxy in version `2.60.2`

[2022-01-28 15:42] ivanhofer commented on #159
I will refactor how `typesafe-i18n` handles loading of locales in the next major release.
It was always a bit of a pain-point that loading the locale and using the translations is so deeply coupled.
By splitting both parts, we can get rid of some limitations and will have a more elegant solution to the problem described by you.
This would also make the implementation of #113 a easier.

[2022-01-29 13:40] #64 closed

[2022-01-29 13:40] #159 closed

[2022-01-29 14:01] ivanhofer commented on #64
In version `3.0.0` the async initialization of the formatters was removed.
Please visit the [release post](https://github.com/ivanhofer/typesafe-i18n/discussions/163) for more information.

[2022-01-29 14:10] ivanhofer commented on #159
@aloker I now have refactored how `typesafe-i18n` loads locales.

You can check the [latest commit](https://github.com/ivanhofer/typesafe-i18n-demo-sveltekit/commit/2eca55e82b93b2177903cc7ef68b3c4e3d0a3709) I have made to the `svelte-kit` example to see what has changed.
Most of the changes are beeing made when installing version 3 and running the `generator`.
You then just would need to manually

[2022-01-29 14:40] aloker commented on #159
Thanks for your fast response! I didn't have the opportunity to test it, but I'll check it out ASAP. Keep up the great work!

[2022-01-30 22:54] ohbob commented on #158
Well i'm having problem with getting local fonts loading. if you go to domain.com/en/example, it would not load a font that is being loaded like this. Because the addres from which it tries to load isn't / anymore its /en/ and at that location there is no font. any ideas ?
[code]

[2022-01-31 11:18] Badlapje opened #165 "Dynamic translation strings?"
Using typesafe-i18n in Svelte, with Sveltekit.

Is it possible to have a dynamic translation string.

Example:

I have a component like this:
[code]

I compose the title & description like that, based on the type prop passed to the component:
[code]

This doesn't work.  Nor can i find another way of accomplishing this.  Is this not possible currently, or am i doing something wrong?
Not sure if thi

[2022-01-31 11:33] Badlapje commented on #165
Alright, i can do this with a switch case it seems, though that makes the translation strings less readable, instead of:
[code]

i can do this:

[code]

But that's far less readable.  It can be made a more readable like below, but for anyone not used to the library it's still a tad weird:
[code]

I imagine this use case is common enough to warrant a more readable solution somehow, but not sure how

[2022-01-31 16:40] ivanhofer commented on #165
@Badlapje you could certainly do it with the `switch` functionality, but you already have seen that this is not ideal.

I would do it like this:

1. define your translations
[code]
 2. use it in your components
[code]

Instead of concatenating the key as a string, you need to access each level of your translation object individually (sorry, I don't know how to describe this).
In my examply you can

[2022-02-01 10:41] Badlapje commented on #165
This works like a charm indeed.  I'll be writing up a PR sometime later today to amend the docs with this solution 👍

[2022-02-04 16:10] Achaak opened #167 "Missing index.d.ts in importer"
### Version

3.1.1

### Describe the bug

Missing index.d.ts in importer

![image](https://user-images.githubusercontent.com/39270779/152562612-7e7badc0-e41d-4395-b8bb-08ac5347651d.png)
![image](https://user-images.githubusercontent.com/39270779/152562655-5fbe949d-9b5b-4289-9013-113808fd8553.png)

### Reproduction

Install last version 😂

### Logs

_No response_

### Config

_No response_

### Add

[2022-02-04 16:46] #167 closed

[2022-02-04 16:48] ivanhofer commented on #167
Oh, I missed something in my latest refactoring.
It is fixed in version `3.1.2`

[2022-02-04 16:49] ivanhofer commented on #156
I will close this issue since the described issue is working for me. Feel free to open this issue again, if you still have problems

[2022-02-04 16:49] #156 closed

[2022-02-10 13:26] chloe-the-catgirl opened #170 "Translation breaks with translation key called `name`"
### Version

4.0.0

### Describe the bug

When using a key in the translation called `name`, the whole object breaks and cannot be loaded anymore. Example translation:

[code]

Other parts of the translation (`working` in the example case) are not affected by this.

### Reproduction

Repository for repro can be found here:
https://github.com/chloe-the-catgirl/typesafe-i18n-repro

The index page wo

[2022-02-10 20:52] ivanhofer commented on #170
@chloe-the-catgirl thanks for opening this issue.
Was it working in a previous version? Or are you a first time version 4.x.x user?
I'll take a deeper look at this issue in the next couple of days

[2022-02-11 11:48] chloe-the-catgirl commented on #170
It was working in a 2.x version, I know that for sure. Not sure which one exactly, but it worked.

[2022-02-11 19:09] #170 closed

[2022-02-11 19:11] ivanhofer commented on #170
@chloe-the-catgirl thanks!

I was able to find and fix the issue. I just released version `4.1.1`.

[2022-02-13 12:25] shadoworion opened #172 "Not displaying translations after upgrade 3.0.0+ version"
### Version

3.0.0+

### Describe the bug

Not displaying translations after upgrade 3.0.0+ version.
React 17 + Typescript 4.5.5 + Vite 2.8.1.

Every version after 3.0.0 doesn't work.
I checked 3.0.0, 3.1.0, 3.1.1, 4.0.0, 4.1.0, 4.1.1 versions.
I have no errors.

The module generates all files successfully. But it doesn't show strings anywhere after render.

Version 2.60.2 and older work correctly

[2022-02-13 14:21] ivanhofer commented on #172
@shadoworion did you take a look at the migration guide mentioned in the Changelog?
https://github.com/ivanhofer/typesafe-i18n/discussions/163

[2022-02-13 15:18] shadoworion commented on #172
Yes, but I don't understand how it helps me...

Is this initialize not enough?

[code]

Also, after I added this code, it didn't work.

[code]

Maybe I miss something?

[2022-02-13 15:59] ivanhofer commented on #172
You first would need to load the locale, then initialize it. (In theory you could also initialize it first and then load the locale, but this would trigger some reflow of the website, which is not a good user experience).

Your code snippets look good. Do you want to take another look at the `react` example: https://github.com/ivanhofer/typesafe-i18n/blob/main/examples/react/src/App.tsx
Or share y

[2022-02-13 16:20] shadoworion commented on #172
Ok, thank you! It worked now!

[2022-02-13 16:20] #172 closed

[2022-02-13 17:18] ivanhofer commented on #172
Great! What was wrong? Do I need to add something to the migration guide?

[2022-02-13 18:48] shadoworion commented on #172
This example is excellent (https://github.com/ivanhofer/typesafe-i18n/blob/main/examples/react/src/App.tsx)

My problem was -
This code (in main.tsx):
[code]
Before this (in App.tsx):
[code]

So I just changed one to another

[2022-02-15 06:29] kazupon opened #177 "TypeScript valid code is not generated when JavaScript identifier characters are included in the key."
### Version

4.1.0

### Describe the bug

If you define an i18n resource whose key contains a JavaScript identifier as follows, the `i18n-types.ts` generated by `typesafe-i18n` will regenerate the code that would be an error in TypeScript.

[code]

In fact, TypeScript error occurs on VSCode as shown below:

<img width="1242" alt="image" src="https://user-images.githubusercontent.com/72989/15400405

[2022-02-15 06:51] ivanhofer commented on #177
@kazupon thanks for reporting the issue.
I hope you weren't to scared about the source code. The `generator` would relly need a refactoring because it's hard to understand.

The bug has be fixed here: https://github.com/ivanhofer/typesafe-i18n/blob/main/packages/generator/src/generator-util.ts#L40-L45
Currently only ` ` (space) and `-` are considered as non-valid characters in a property of an obj

[2022-02-15 07:59] ivanhofer commented on #177
Here it is: https://developer.mozilla.org/en-US/docs/Glossary/Identifier

[2022-02-15 08:29] kazupon commented on #177
@ivanhofer
Maybe, `esutils` package is useful for you :)
https://github.com/estools/esutils#keyword

This package has some helper APIs that is able to detect an identifier

[2022-02-15 17:29] #177 closed

[2022-02-15 17:34] ivanhofer commented on #177
@kazupon thanks for the link. That's exactly what I needed :)

The issue was fixed in version `4.1.2`

[2022-02-16 03:59] kazupon commented on #177
Thank you very much quickly! ❤️

[2022-02-16 20:14] purge opened #179 "sourcemap points at incorrect directory"
### Version

4.1.3

### Describe the bug

contents of .map file point at packages/ directory which doesn't exist in shipped payload. causes crash in CRA4

from `node_modules/typesafe-i18n/runtime/esm/runtime/src/util.string.js.map`:
`{"version":3,"file":"util.string.js","sourceRoot":"","sources":["../../../../packages/runtime/src/util.string.ts"],`

### Reproduction

see above

### Logs

_No respo

[2022-02-17 06:23] #179 closed

[2022-02-17 06:25] ivanhofer commented on #179
Oh I didn't know missing SourceMaps will cause something to crash 😅.
Fixed in version `4.1.4`

[2022-02-17 10:19] purge commented on #179
Hey thanks for the quick update - while the maps aren't in the downloaded package they do appear to get generated again by the install process, though i can't work out exactly how this is happening (I had no idea esm / cjs packaging was so complicated these days). reproduction below

[code]

[2022-02-17 14:22] GLAD-DE opened #180 "Version 3 and 4 broke loading data from LL in scripts"
### Version

4.1.1

### Describe the bug

In version 2 I could load and access LL from typescript files with:
[code]

This no longer works in version 3 and 4. Instead the following error is printed:
```__vite_ssr_import_0__.default.HI is not a function```

### Reproduction

[See this repo for an example](https://github.com/GLAD-DE/typesafe-i18n-demo-sveltekit/tree/9f25e23e2a0d5ba2d38f384eee6f57edd

[2022-02-17 14:30] GLAD-DE opened #181 "Typesafety broken with version 3 and 4"
### Version

4.1.1

### Describe the bug

My IDE (Webstorm) no longer provides auto-completion and correct paths are not recognized as such. The IDE complians ```Unresolved function or method HI()``` in the following line from the typesafe-sveltekit-example ```$LL.HI({ year: 2021 })```. This is true for all valid references to $LL.

The IDE marks valid LL paths in script as errors. For example the

[2022-02-17 15:52] ivanhofer commented on #180
@GLAD-DE

you can use it like this:

[code]

I need to mention this in the docs.

[2022-02-17 15:55] ivanhofer commented on #181
@GLAD-DE in version 3 I have changed the way how translations are accessed on the svelte store.
Please see the solution here: #180

[2022-02-17 15:55] #181 closed

[2022-02-17 16:04] ivanhofer commented on #179
It really is complicated. A lot of hacks and workarounds are needed 🙈

I missed it in one place. Should be fixed in version `4.1.5`

[2022-02-18 14:32] phil714 opened #183 "Typescript compilation fail when using localized switch cases"
### Version

2.52.2

### Describe the bug

Hello,

I'm trying to use the switch case feature but can't seem to wrap my head around how this is working. I'm not really sure if this is a bug or not but I'm unable to use it.

I want to have a string display either Day or Night based on the enum sent in the string. I'm basically moving the "if" from the code to the translation because every time we ne

[2022-02-18 15:34] ivanhofer commented on #183
Hi @phil714,
the `switch-case` functionality was added in version `2.55.0`
https://github.com/ivanhofer/typesafe-i18n/blob/main/CHANGELOG.md#2550-2021-12-05
Please update to the latest `2.x.x` version and your code should work ;)

The most recent version is `4.1.5`, so maybe you immediately want to update to that version. It contains some smaller breaking changes, you need to consider when upgradi

[2022-02-18 15:34] #183 closed

[2022-02-18 15:48] ivanhofer commented on #180
I have updated the migration guide to also mention this breaking change #163

[2022-02-18 15:48] #180 closed

[2022-02-20 19:33] GLAD-DE commented on #180
Thank you :)

There is a small mistake in the discussion #163:

It should be ```import { get } from 'svelte/store'``` instead of ```import { get } from 'svelte/stores'``` (no leading 's')

[2022-02-20 19:40] GLAD-DE commented on #181
In this issue I am refering to accessing LL from svelte components while #180 refers to typescript files.

In the migration guide #163 you state that ```if you are using the svelte adapter and are using the LL store outside of Svelte components you need to make sure you are accessing the store correctly [via get]```.

Should all access, including those in svelte components, be via get?

[2022-02-20 20:10] GLAD-DE commented on #181
Accessing LL from svelte components works with autocomoletion only if ```get``` is used. I recommend updating #163 to state that **all** access to LL should be via get.

[2022-02-21 06:18] ivanhofer commented on #181
@GLAD-DE the Svelte compiler handles automatic subscribing to stores. So in Svelte components you can use
`$LL` to access the value of the store directly. In all other files that don't get transformed from the Svelte compiler, you need to read the value from the store either via a manual `subscribe` or by using the [`get(LL)` function](https://svelte.dev/docs#run-time-svelte-store-get).

[code]

I

[2022-02-22 07:33] #165 closed

[2022-02-22 07:34] ivanhofer commented on #165
I have added a [new section](https://github.com/ivanhofer/typesafe-i18n#how-can-i-access-a-translation-dynamically) to the FAQs.

[2022-03-22 14:17] sidvishnoi opened #223 "Cannot use `import.meta` with Sveltekit"
### Version

4.5.0

### Describe the bug

I'm trying to conditionally build translation strings based on env variables in a Sveltekit project. But I cannot use `import.meta.env` which Sveltekit uses via Vite.

1. Translation doesn't work (see error in logs).
2. `TranslationFunctions` is empty `{}`.

### Reproduction

Repo: https://github.com/sidvishnoi/typesafe-i18n-demo-sveltekit-jsdoc
See: https

[2022-03-22 14:35] ivanhofer commented on #223
I see some errors from your logs. These errors should disapper when you remove the line mentioned above. Can you please run the `generator` and verify that?

[2022-03-22 14:41] sidvishnoi commented on #223
I've removed `esmImports` and re-run `pnpm dev` (which also runs `typesafe-i18n`). Same error as before.

FWIW, adding `{ "module": "esNext", "target": "ESNext" }` in jsconfig.json/tsconfig.json doesn't change it either.

[2022-03-22 14:46] ivanhofer commented on #223
Ah, now I understand the problem. Sorry, I haven't seen the link to your repo before.
I'll try a few things ...

[2022-03-23 13:09] ivanhofer commented on #223
I had a few minutes of time to look into this issue.

The generator doesn't have the concept of environment variables. If you want to render conditional translations, you would need to create two keys inside your dictionary file and then call the translation function conditionally.

If you don't want to include both variants in the same dictionary you could use the [`namesapces`](https://github.co

[2022-03-23 13:09] #223 closed

[2022-03-23 13:11] sidvishnoi commented on #223
Thanks for investigating, @ivanhofer! I think namespaces might just work right.

[2022-03-31 22:37] high1 opened #249 "Types not compiled properly"
### Version

5.2.2

### Describe the bug

The base translated strings are added as comments in ./i18n/i18ntypes-ts and if string contains */, those are interpreted as an early close comment, and that results in an incorrect syntax.

### Reproduction

HI in en base translation was altered to have */ in int, and the types are incorrect. If it's removed, the types are properly compiled.

https://gith

[2022-04-01 05:57] #249 closed

[2022-04-01 05:59] ivanhofer commented on #249
Thanks! The issue was fixed in version `5.2.3`.

[2022-04-08 12:49] Achaak opened #263 "Upgrade to React 18"
### Version

5.3.2

### Describe the bug

Hi !,
When I upgrade my project to React 18, I have this error.

![image](https://user-images.githubusercontent.com/39270779/162438140-39d27705-45e0-4a56-8e38-c0f5d25721b4.png)

Maybe, you should upgrade React in adapter-react

### Reproduction

Classic install with React 18

### Logs

_No response_

### Config

[code]

### Additional information

_No resp

[2022-04-08 13:13] ivanhofer commented on #263
have you used this exact version of `typesafe-i18n` before upgrading to react 18?

[2022-04-08 13:16] Achaak commented on #263
No I was in 4.5.0
I have generated the files after upgrading

[2022-04-08 13:20] ivanhofer commented on #263
can you go back to 4.5.0 an see if it works with react 18?

[2022-04-08 13:26] Achaak commented on #263
In 4.5.0 I have the same error

[2022-04-08 13:46] ivanhofer commented on #263
Strange, I will try it in my example repository

[2022-04-08 13:58] #263 closed

[2022-04-08 13:59] ivanhofer commented on #263
It seems that react 18 added stricter types. I now have updated the react adapter in version `5.3.3` to fix the issue.

[2022-04-09 08:38] ivanhofer commented on #263
Here is the issue for reference: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56210

[2022-04-09 12:27] novacrazy opened #267 "SolidJS adapter context provider may re-render children sometimes when paired with Suspense"
### Version

5.3.4

### Describe the bug

In the SolidJS adapter, you use:
[code]
which defines `children` as a **function**.

This has similar behavior to:
[code]
which will re-render the entire child tree when the given value changes. I don't fully understand exactly what changes, but as shown below it causes double-rendering.

### Reproduction

See [HERE](https://playground.solidjs.com/?hash=-1

[2022-04-10 03:08] novacrazy commented on #267
Just got confirmation from Ryan (SolidJS creator) on Discord that using a getter is indeed the correct way, so that PR should be ideal.

[2022-04-10 05:10] #267 closed

[2022-04-10 05:11] ivanhofer commented on #267
Thanks @novacrazy for investigating and providing the fix!
The issue is resolved in version `5.3.5`

[2022-04-12 08:00] Achaak commented on #263
Ok I see!
It works now, thanks! 😄

[2022-05-09 10:16] liegeandlief opened #303 "How do I insert a React component into the middle of a string?"
Given that I have a string as follows:

Where `Privacy Policy` is a link, how would I use this library to translate this?

I am using React and would need to wrap `Privacy Policy` in a custom `Link` component.

[2022-05-09 17:54] ivanhofer commented on #303
Hi @liegeandlief, you could try it with a soultion like this: https://github.com/ivanhofer/typesafe-i18n#how-do-i-render-a-component-inside-a-translation

[2022-05-09 21:04] jesperp opened #304 "Sapper support?"
### Version

5.4.2

### Describe the bug

I'm trying to get a minimal working example in Sapper (can't use Sveltekit yet..) and the SSR output works but client then renders an empty translation. There was actually a similar bug for me when I tried to make sveltekit-i18n work with sapper (quick flash of SSR content before displaying empty translation).

Any ideas? :)

### Reproduction

Start a new

[2022-05-19 16:09] mullwaden opened #314 "Watcher sometimes dies"
### Version

5.4.2

### Describe the bug

Since upgrading from version 2 to 5 i have had the watcher crash on me several times per day with the following error:

[code]

Not really sure what is going on, restarting the watcher always works.

### Reproduction

Reproduction is tricky, it seems to coincide with when i make changes to our frontend (same repository, different folder)

### Logs

_No res

[2022-05-19 19:35] ivanhofer commented on #314
Hi @mullwaden,
version `5.4.3` is the latest released version. Could you please check if the issue is still present there?

The stacktrace points me to this line:
![image](https://user-images.githubusercontent.com/21335119/169388048-8d242ef5-1539-4bb5-8354-0ee9220d90d2.png)

Can you please confirm?

Since it happened a few times, yould you please manually add some `console.log` statements to the l

[2022-05-20 13:25] mullwaden commented on #314
Testing in 5.4.2
- Can confirm it is the line above, the filename is null.
- windows 10
- Node 16

My guess would be that the filewatcher on windows somehow behaves differently than on mac/linux.

Not using any fancy stuff, my base setup looks like this:

[code]

will test 5.4.3 now

[2022-05-20 16:13] ivanhofer commented on #314
@mullwaden thanks for the information.
Yeah, probably some windows specific issue. I'll take a deeper look at this next week.
In the meantime, version `5.3.6` should work for you.

[2022-05-23 19:51] nonphoto opened #320 "Broken example in /packages/runtime/README.md"
[This example](https://github.com/ivanhofer/typesafe-i18n/blob/22d2b81eabdab7ac2ee8aa48c2f7c9be34c42e18/packages/runtime/README.md?plain=1#L340-L367) appears to be broken because the signature for the `i18n` function has changed. `L.en.TODAY({ date: now })` will print nothing because the expected translation dictionary is a function.

[2022-05-24 06:14] #320 closed

[2022-05-24 06:14] ivanhofer commented on #320
Thanks @nonphoto,
I have updated the example to work with the new implementation

[2022-05-29 19:20] #314 closed

[2022-05-29 19:24] ivanhofer commented on #314
@mullwaden I could not reproduce the issue. I have reverted the change to use the previous library. Version `5.5.0` should work for you.

The reason why I switched to `watchlist` was a bundling issue with `rollup`. But it seems this is no longer the case. Probably the recent switch to `esbuild` fixed it.

[2022-07-10 07:54] ivanhofer commented on #83
I can't reproduce this anymore. I'm assuming the bug was fixed in the React Dev Tools.

[2022-07-10 07:54] #83 closed

[2022-09-08 13:47] oskar-gmerek opened #437 "Locale detection mismatch"
### Version

5.12.0

### Describe the bug

I may be wrong and I think that may be more related to the browsers I also believe that in English it may works correctly as long English is an official language in the specific country. Anyway, I decided to share my feelings.

My app has 4 locations: en, en-GB, pl, pl-PL
My browsers are sending in headers: `accept-language: pl-PL,pl;q=0.9`.
typesafe-i18n

[2022-09-21 14:54] gkinsman opened #451 "initAcceptLanguageHeaderDetector should use case-insensitive comparison"
### Version

5.13.0

### Describe the bug

initAcceptLanguageHeaderDetector can be used to use the incoming `accept-language` header to determine what language to show users.

By specification, HTTP headers are case insensitive, and it's common for different browsers and webservers to use different casings, for whatever reason.

`typesafe-i18n` currently uses a [case-sensitive comparison](https://

[2022-09-21 23:06] blame2020 opened #452 ""npm run typesafe-i18n" does'nt exit with svelte"
### Version

8.19.1

### Describe the bug

"npm run typesafe-i18n" does'nt exit for generate some files.
Is it expected behavior?
[code]

### Reproduction

The demo project can reproduce.
1.

[code]

2.
[code]

3.
[code]

### Logs

_No response_

### Config

_No response_

### Additional information

_No response_

[2022-09-22 04:07] ivanhofer commented on #452
Yes, the CLI will watch for changes during development and will update the types immediately.
If you don't wnt that behaviour, you can pass the [`--no-watch`option](https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/generator#running-the-generator-in-cicd)

[2022-09-22 04:07] #452 closed

[2022-09-22 04:20] blame2020 commented on #452
Thanks!

[2022-09-23 05:36] ivanhofer commented on #451
But here you have the exact same problem. You would also need to check for multiple cases.

---

Changing the interface to something other than the web-platforms native `Headers` object does not make sense.
It looks like the getter is already case-insensitive: (https://developer.mozilla.org/en-US/docs/Web/API/Headers/get#parameters)

Just changing [this](https://github.com/ivanhofer/typesafe-i18n/

[2022-09-23 08:41] gkinsman commented on #451
This is using native `Headers.get`, which is case insensitive, so it would work - I realise that wasn't clear from my message! This is the solution I was suggesting 🙂.

In addition, it could be possible to support both a header string (pre-fetched from the Headers collection), and a request object, which would be typed as `{ headers: Headers }`, using the native Headers interface. Currently the in

[2022-09-23 12:51] ivanhofer commented on #451
I want to keep it simple and don't provide multiple ways of doing things.

If you need special use-cases, you can always implement [your own custom detector](https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/detectors#detectors-1).

Do you want to make the necessary change and open a PR?

[2022-09-23 22:35] OliverJAsh opened #454 "Generator doesn't create files in new project"
### Version

5.13.0

### Describe the bug

`npx typesafe-i18n --setup` is successful but no files have been generated:

[code]

### Reproduction

See above.

### Logs

_No response_

### Config

_No response_

### Additional information

_No response_

[2022-09-24 06:54] ivanhofer commented on #454
At the end of your log I can spot this:

Adding the script failed somehow.
You need to manually add it to your `package.json`

[code]

And then you can run

[code]

More information about the `generator` can be found [here](https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/generator#generator).

[2022-09-24 06:54] #454 closed

[2022-09-24 08:32] OliverJAsh commented on #454
Ah, thanks, I'll try that. I thought it was only a warning (not an error). Perhaps this could be made clearer?

[2022-09-24 12:09] ivanhofer commented on #454
Well, it is not really required to add the script. It is just a recommandation.
You could also just use `npx typesafe-i18n` if you want.

[2022-09-26 18:24] #451 closed

[2022-09-26 20:36] OliverJAsh commented on #454
@ivanhofer Ah, I think I was confused because [the documentation here](https://github.com/ivanhofer/typesafe-i18n/tree/7265f915e67f11b6b096b38fc6ca6a927c041805#get-started) makes it sound like the files will be generated as soon as you've ran `npx typesafe-i18n --setup`, but that's not the case—you also have to run `npx typesafe-i18n` or `npm run typesafe-i18n`.

[2022-09-28 05:07] ivanhofer commented on #454
I have another Idea how to tackle this:

There exists an invisible character character called "ZeroWidthSpace" (`​`). We could use that character and inject it between each character on the `RootTranslation` type.

I have configured VS Code to show such special characters in red:

![image](https://user-images.githubusercontent.com/21335119/192691297-65f7b7eb-cd8f-4ae4-a495-55d5aa73100a.png)

If yo

[2022-09-28 05:11] ivanhofer commented on #454
Ah right, the CLI gives you further instructions when everything was completed sucessfully. I'll make this more clear. Thanks for the feedback!

[2022-09-28 05:14] ivanhofer commented on #454
https://github.com/ivanhofer/typesafe-i18n#get-started

[2022-10-02 22:08] Nickersoft opened #467 "Dynamic translations that use optional chaining return empty translations on SvelteKit production builds"
### Version

5.14.0

### Describe the bug

In my codebase, I've found it safer to use optional chaining when attempting to call dynamic translations that may or may not exist. For clarity, I'm referring to accessing translations like this:

[code]

The above works on SvelteKit/Vite's development server, but after building for production, the translations return empty.

Yet if I drop the optional c

[2022-10-03 05:08] ivanhofer commented on #467
Hi @Nickersoft,
you don't have to worry about runtime errors. `typesafe-i18n` is smart enough to just output an empty string if a key does not exist. Just remove the optional chaining, it's fine.

[2022-10-03 05:08] #467 closed

[2022-10-10 21:43] epicbytes opened #472 ""Cannot find module" in yarn monorepo setup"
### Version

5.14.0

### Describe the bug

Hi! I ran into a problem when using turborepo, if the module is added to one application, then everything works as it should. But when added to the second, the module starts to give an error when both are started.

Applications are written in NextJS.

Both times the module is connected and initialized according to the instructions.

### Reproduction

inst

[2022-10-11 04:46] ivanhofer commented on #472
Hi @epicbytes can you share the repository?

[2022-10-11 09:37] epicbytes commented on #472
https://github.com/epicbytes/sample-bug

This is a monorepo recreated from scratch.
cd /apps/web and run yarn dev, then try to open it in browser

[2022-10-12 07:44] ivanhofer commented on #472
I tried the example in StackBlitz and it works when adding a default value on this line

https://github.com/epicbytes/sample-bug/blob/main/apps/web/src/pages/index.tsx#L17

[code]

[2022-10-13 19:37] ivanhofer commented on #472
I was now finally able to reproduce your issue.
I don't think this has anything to do with `turbo`.
It seems like an issue with `yarn` and how it installs dependencies in a monorepo setup. I haven't looked in detail but it seems that all dependencies are installed at the root `node_modules` folder. Therefore `Next.js` is not able to pick up the imports correctly.
I still wonder why other packages

[2022-10-13 19:44] ivanhofer commented on #472
I have found [this issue](https://github.com/yarnpkg/yarn/issues/7572). It seems the issue is the "hoisting" of packages in `yarn`.
Changing the `workspace` config in `package.json` will fix the issue:
[code]

[2022-10-13 21:33] epicbytes commented on #472
Thanks, now it works as it should, it would be great to describe it in the documentation.

[2022-10-14 05:38] ivanhofer commented on #472
I'll add a section to the FAQs

[2022-10-14 05:38] #472 closed

[2022-10-14 05:48] ivanhofer commented on #472
added: https://github.com/ivanhofer/typesafe-i18n#cannot-find-module-in-yarn-monorepo-setup

[2022-10-22 21:16] Nickersoft opened #486 "Unlisted production dependency on "svelte" package"
### Version

5.15.0

### Describe the bug

I recently noticed that this package has an unmentioned production dependency on `svelte`, despite `svelte` being listed as a `devDependency` in both the [Svelte example repo](https://github.com/ivanhofer/typesafe-i18n-demo-sveltekit) and [Svelte adapter](https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/adapter-svelte). I came across it after

[2022-10-23 07:29] #486 closed

[2022-10-23 07:31] ivanhofer commented on #486
Thanks, I have added a note to the docs: https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/adapter-svelte#notes

[2022-11-01 11:32] artola opened #492 "docs: Some links in the documentation are broken"
### Version

master

### Describe the bug

Some links in the documentation are broken. For example here (other places might happen too):

https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/exporter#example

[code]

### Reproduction

[code]

https://github.com/ivanhofer/typesafe-i18n/blob/84500e188814dfdc3be206afc640e9a410873f72/packages/exporter/README.md?plain=1#L17

### Logs

_No resp

[2022-11-01 15:40] AngaBlue opened #493 "generator: Node adapter generates invalid ESM imports"
### Version

5.15.0

### Describe the bug

When using the Node adapater amd `"esmImports": true`, the generator creates invalid ESM imports in:

- `i18n-util.sync.ts`
- `i18n-util.async.ts`

For example:
[code]

Both these imports lack the `.js` extension required to make the imports valid when using ESM.

### Reproduction

https://github.com/AngaBlue/typesafe-i18n-reproduction

### Logs

[code]

[2022-11-01 16:50] #492 closed

[2022-11-01 16:53] ivanhofer commented on #492
Yes, there are probably more dead links. The only thing I can really do is, waiting for someone to find it and beeing that kind to report it. Thanks!

There really should be a GitHub action for detecting dead links in `markdown` files. I need to investigate this further.

[2022-11-02 06:04] ivanhofer commented on #493
closed by #494
Thanks!

[2022-11-02 06:04] #493 closed

[2022-11-21 06:13] whalemare opened #513 "Incorrect generated types for plurals without parameter"
### Version

5.16.3

### Describe the bug

I need to format plural value without number inside string.

I have some rule:

[code]

When types generated, it emit next signature:
[code]

But expected, that signature be like:

[code]

Because when I call it like this, its output `zero`, but display typings error
<img width="804" alt="Снимок экрана 2022-11-21 в 09 12 48" src="https://user-images.githu

[2022-11-21 06:22] #513 closed

[2022-11-21 10:29] yovanoc opened #514 "Wrong generated for esm"
### Version

5.16.3

### Describe the bug

When you setup an esm project, generated files are not correct.

### Reproduction

First there is an issue to load typings from /detectors I had to had this `types` line  to your package.json and in fact it's missing on all exports.

[code]

Furthermore, when you generate async utils it's missing the `.js` at the end of each imports.

[code]

should be

[

[2022-11-21 13:14] ivanhofer commented on #514
Can you please share a repository where you encounter those issue?
I have never seen them, so I think it may be a combination of some `tsconfig.json` configuration I never have seen before.

[2022-11-21 14:24] yovanoc commented on #514
Just a project with these rules: https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

I can't share a repo right now, I will do a minimal reproduction If I have time.

[2022-11-21 18:40] ivanhofer commented on #514
Would be great if you could provide a minmal reproduction. Thanks!

[2022-11-22 09:46] yovanoc commented on #514
Ok I've done it. I can't reproduce the async thing but found another thing.

https://github.com/yovanoc/repro-i18n

First, the import detectors thing is still true. The second thing I found is this (I left a comment)

https://github.com/yovanoc/repro-i18n/blob/main/src/index.mts

[2022-11-22 10:15] yovanoc commented on #514
<img width="545" alt="image" src="https://user-images.githubusercontent.com/7302317/203288029-cae5136e-b6cd-48d5-8d7e-0beff4026b75.png">

I updated the repo. You should add `/index.js` to the end of each async imports.

[2022-11-22 11:26] ivanhofer commented on #514
Thanks, I'll try to take alook at this by the end of this week.

Meanwhile you could fix the issues manually in those files and set the [`generateOnlyTypes`-option](https://github.com/ivanhofer/typesafe-i18n/tree/main/packages/generator#generateonlytypes) to `true`. This prevents the files from beeing overwritten.
This is fine as long as you only modify existing files. If you add new ones, then yo

[2022-11-22 11:41] yovanoc commented on #514
Yes that's what I will do. Thanks !

[2022-11-25 08:58] ivanhofer commented on #514
I just have released version `5.17.0` which improves the esm support. Please let me know if it works for you.

Until I wait for packages to fix issues, I mostly use [`patch-package`](https://github.com/ds300/patch-package) to fix them manually in my repos.

It will work if you add `"type": "module"` to the `package.json`